/* You can add global styles to this file, and also import other style files */
$fontFamily: "segoe ui light";
$mainColor: #f8f8f8;
$secondColor: #ef4836;
$darkColor: #212121;
$boxShadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);

body {
  background-color: $darkColor;
  color: $mainColor;
}
a{
  color: $mainColor;
}
a:hover {
  color: white;
}
